doctype html
html(lang="ru=RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        link(rel="stylesheet" href="css/style.css")
    body
        .recording
            header
                h2 Редактирование профиля сотрудника
                .button
                    a.button_save(href='#') Сохранить
                    .separator
                    a.button_close(href='#').tooltip-trigger
                        span.button_close-icon
                        .tooltip Отменить
                            .triangle
            main
                form
                    .accord
                        input.accord__radio(type='checkbox' id='ka1' checked='checked')
                        label.accord__title(for='ka1') Основные сведения
                            span.accord__angle-down
                        .accord__content
                            .columns
                                .column-3
                                    .photo
                                        .edit.tooltip-trigger
                                            span.edit_icon
                                            .tooltip Загрузить фотографию
                                                .triangle
                                .column-3
                                    .form-group.error
                                        label(for='surname') Фамилия *
                                        input#surname(type='text' name='' maxlength='70' required)
                                        span.error_text Поле обязательное для заполнения
                                    .form-group
                                        label(for='patronymicname') Отчество
                                        input#patronymicname(type='text' name='' maxlength='70')
                                    .form-group
                                        label(for='dateofbirth') Дата рождения
                                        input#dateofbirth(type='text' name='' placeholder='__.__.____' required)
                                        span.calendar
                                .column-3
                                    .form-group
                                        label(for='name') Имя *
                                        input#name(type='text' name='' maxlength='70' required)
                                    .form-group.form-group_radio
                                        span.form-group_title Пол *
                                        .form-group_radio-wrap
                                            .form-group_gender.form-group_gender-men
                                                input#men(type='radio' name='gender' required)
                                                span.radio
                                                label(for='men') Мужской
                                            .form-group_gender
                                                input#women(type='radio' name='gender' required)
                                                span.radio
                                                label(for='women') Женский
                            .columns
                                .column-3
                                    .form-group
                                        label(for='number-1') Телефон 1
                                        input#number-1(type='text' name='' maxlength='20')
                                .column-3
                                    .form-group
                                        label(for='number-2') Телефон 2
                                        input#number-2(type='text' name='' maxlength='20')
                                .column-3
                                        .form-group
                                            label(for='email') Электонная почта
                                            input#email(type='email' name='' maxlength='50')

                        input.accord__radio(type='checkbox' id='ka2')
                        label.accord__title(for='ka2') Учет
                            span.accord__angle-down
                        .accord__content
                            .columns
                                .column-1
                                    .form-group
                                        label(for='enterprise') Предприятие *
                                        input#enterprise(type='text' name='' maxlength='100' required placeholder='Не выбрано')
                            .columns
                                .column-3
                                    .form-group.disabled
                                        label(for='subdivision') Подразделение *
                                        input#subdivision(type='text' name='' maxlength='70' required disabled)
                                        span.angle-down
                                .column-3
                                    .form-group.disabled
                                        label(for='position') Должность *
                                        input#position(type='text' name='' maxlength='50' required disabled)
                                        span.angle-down
                                .column-3
                                        .form-group.form-group_check-circle
                                            input#main-position.check-circle(type='checkbox' name='')
                                            span.radio
                                            label(for='main-position') Основная должность
                            .columns
                                .column-3
                                    .form-group
                                        label(for='datestart') Дата приема на работу
                                        input#datestart(type='text' name='' placeholder='__.__.____')
                                        span.calendar
                                .column-3
                                    .form-group
                                        label(for='datefinish') Дата увольнения
                                        input#datefinish(type='text' name='' placeholder='__.__.____')
                                        span.calendar
                                .column-3
                                    .form-group.form-group_check-square
                                        input#date-dismissal.check-square(type='checkbox' name='')
                                        span.checkbox
                                        label(for='date-dismissal') По настоящее время
                            .columns
                                .column-3
                                    .form-group
                                        label(for='tab-number') Табельный номер
                                        input#tab-number(type='text' name='' maxlength='10' pattern='[0-9]{6}')
                            .columns
                                .column-1
                                    .add-button Добавить место работы

                        input.accord__radio(type='checkbox' id='ka3')
                        label.accord__title(for='ka3') Паспортные данные
                            span.accord__angle-down
                        .accord__content
                            p продолжение
