@import "variables";
@import "smart-grid";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic');
@include reset();

body {
  font-family: 'Roboto', 'sans-serif';
  font-size: 14px;
}

.debug {
  display: none;
  @include debug(rgba(0,0,0,0.1), 1px solid #ff1);
}

.wrapper {
  @include wrapper;
}

.separator {
  background-color: $border;
  height: 40px;
  margin: 0 20px;
  width: 1px;
}

.column-1 {
  @include col;
  @include size(12);
}

.column-2 {
  @include col;
  @include size(6);
}

.column-3 {
  @include col;
  @include size(4);
}

.recording {
  background: $bg;
  box-shadow: 0 0 16px 1px #CFCFCF;
  margin: 0 auto;
  width: 962px;

  header {
    background: $bg-2;
    box-shadow: 0 -5px 16px 1px #CFCFCF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;

    h2 {
      color: $heading;
      font-weight: bold;
      font-size: 20px;
      line-height: 40px;
    }

    .button {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &_save {
        background-color: $bg-3;
        border-radius: 3px;
        color: $bg-2;
        font-weight: bold;
        font-size: 14px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        text-decoration: none;
        width: 128px;

        &:hover {
          background: #E3483E;
          box-shadow: 0 1px 4px 0 rgba(246, 93, 80, 0.7);
        }

        &:active {
          background: #ab4038;
          border-top: 2px solid $bg-3;
          box-shadow: inset 0 0 3px #7E2F29;
        }
      }

      &_close {
        background: $bg-3;
        border-radius: 3px;
        height: 36px;
        width: 36px;

        &-icon {
          background: url(../img/x.png) no-repeat;
          display: inline-block;
          height: 16px;
          margin: 10px;
          width: 16px;
        }

        &:hover {
          box-shadow: 0 1px 4px 0 rgba(246, 93, 80, 0.7);
        }

        .tooltip {
          right: -13px;
          top: 48px;
        }
      }
    }
  }

  main {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    display: inline-block;
    margin: 10px;
    width: 924px;

    .accord {
      &__radio {
        display: none;
      }

      &__title {
        align-items: center;
        border-bottom: 1px solid $border;
        color: $heading;
        cursor: pointer;
        display: flex;
        font-weight: bold;
        font-size: 14px;
        justify-content: space-between;
        line-height: 65px;
        margin: 0 20px;
        user-select: none;
      }

      &__angle-down {
        background: url("../img/arr.png") no-repeat;
        display: block;
        height: 6px;
        width: 12px;
      }

      &__content {
        border-bottom: 1px solid $border;
        display: none;
        margin: 0;
        padding: 30px 0 10px;
      }

      &__radio:checked+.accord__title .accord__angle-down {
        transform: rotate(180deg);
      }

      &__radio:checked+.accord__title+.accord__content {
        display: block;
      }
    }

    .columns {
      @include row-flex();
      padding: 0 20px;

      .photo {
        background: url("../img/ava_not.png") no-repeat;
        height: 240px;
        margin: 10px auto 0;
        position: relative;
        width: 240px;

        .edit {
          background: $bg-3;
          border-radius: 50%;
          bottom: 18px;
          cursor: pointer;
          height: 35px;
          position: absolute;
          right: 12px;
          width: 35px;

          &_icon {
            background: url("../img/edit.png") no-repeat;
            display: block;
            height: 15px;
            margin: 10px;
            width: 15px;
          }

          &:hover {
            box-shadow: 0 1px 4px 0 rgba(246, 93, 80, 0.7);
          }

          .tooltip {
            right: -28px;
            top: 45px;
          }
        }
      }
    }
  }

  .tooltip-trigger {
    position: relative;

    &:hover {
      .tooltip {
        display: block;
      }
    }
  }

  .tooltip {
    background: $bg-2;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
    display: none;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    text-align: center;

    .triangle {
      width: 20px;
      height: 20px;
      position: absolute;
      top: -20px;
      left: 36px;
      overflow: hidden;
      box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.12);

      &:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: $bg-2;
        transform: rotate(45deg);
        top: 15px;
        left: 5px;
        box-shadow: 1px 1px 6px 0px rgba(0,0,0,.12);
      }
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
    position: relative;

    label {
      cursor: pointer;
    }

    label,
    &_title {
      font-weight: bold;
      padding-bottom: 5px;
    }

    input {
      background-color: $bg-4;
      border: 1px solid $border;
      border-radius: 3px;
      height: 48px;
      font-weight: normal;
      line-height: 48px;
      outline: none;
      padding: 0 15px;

      &:focus {
        background: $bg-2;
      }
    }

    &.error {

      input {
        border-color: $bg-3;
      }

      .error_text {
        color: $bg-3;
        display: block;
        font-size: 12px;
        padding-top: 3px;
        position: absolute;
        bottom: -18px;
      }
    }

    .error_text {
      display: none;
    }

    .calendar {
      background: url("../img/calendar.png");
      bottom: 18px;
      display: block;
      height: 15px;
      position: absolute;
      right: 15px;
      width: 15px;
    }

    .angle-down {
      background: url("../img/arr_2.png");
      bottom: 23px;
      display: block;
      height: 6px;
      position: absolute;
      right: 20px;
      width: 12px;
    }

    input::-webkit-input-placeholder {
      color: $input;
    }
    input::-moz-placeholder          {
      color: $input;
    }
    input:-moz-placeholder           {
      color: $input;
    }
    input:-ms-input-placeholder      {
      color: $input;
    }

    &_radio {
      margin-top: 112px;

      &-wrap {
        align-items: center;
        display: flex;
        margin-top: 15px;
      }
    }

    &_check-circle {
      margin-top: 35px;

      label {
        font-weight: normal;
        padding-left: 40px;
        position: relative;
        z-index: 5;
      }
    }

    input[type='radio'],
    .check-circle,
    .check-square {
      display: none;
    }

    .radio,
    .check-circle {
      border: 1px solid $border;
      border-radius: 50%;
      height: 19px;
      position: absolute;
      left: 0;
      top: -2px;
      width: 19px;
      z-index: 1;
    }

    input[type='radio']:checked + .radio,
    .check-circle:checked + .radio {
      background: $bg-3;
      border-color: $bg-3;
      box-shadow: 0 1px 4px 0 rgba(246, 93, 80, 0.7);
    }

    input[type='radio']:checked + .radio:after,
    .check-circle:checked + .radio:after {
      background: $bg-2;
      border: 1px solid $bg-3;
      border-radius: 50%;
      content: '';
      height: 7px;
      position: absolute;
      left: 5px;
      top: 5px;
      width: 7px;
    }

    &_check-square {
      margin-top: 32px;

      label {
        font-weight: normal;
        padding-left: 40px;
        padding-top: 2px;
        position: relative;
        z-index: 5;
      }
    }

    .checkbox {
      background: $bg-2;
      border: 1px solid $border;
      border-radius: 3px;
      height: 18px;
      position: absolute;
      top: 0;
      width: 18px;
    }

    .check-square:checked + .checkbox {
      background: $bg-3;
      border-color: $bg-3;
      box-shadow: 0 1px 4px 0 rgba(246, 93, 80, 0.7);
    }

    .check-square:checked + .checkbox:after {
      background: transparent;
      border: 2px solid $bg-2;
      border-top: none;
      border-right: none;
      content: '';
      height: 4px;
      left: 5px;
      position: absolute;
      text-align: left;
      transform: rotate(-45deg);
      top: 5px;
      width: 8px;
    }

    &_gender {
      position: relative;

      label {
        padding-left: 30px;
        position: relative;
        z-index: 2;
      }

      &-men {
        margin-right: 20px;
      }
    }

    &.disabled {
      input[disabled] {
        cursor: not-allowed;
      }

      label {
        color: $input;
        position: relative;
      }
    }
  }

  .add-button {
    color: $bg-3;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: center;

    &:before {
      background: url("../img/add.png");
      content: '';
      display: inline-block;
      height: 15px;
      margin-right: 15px;
      position: relative;
      top: 3px;
      width: 15px;
    }
  }
}
